.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ExtendedInput {
  animation: WidthAnimationExtend 1 0.3s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100px;
}
.NoInput {
  animation: WidthAnimationDextend 1 0.7s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: none;
  padding: 0;
  width: 0px;
}
.App-link {
  color: #61dafb;
}
.search {
  animation: WidthAnimationExtendFully 1 0.7s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 105%;
  overflow-y: scroll;
  height: 10vh;
}

.byeWidth {
  animation: WidthAnimationDextendFully 1 0.7s;
  animation-timing-function: ease-in-out;
  width: 0%;
  overflow-y: scroll;
  height: 0px;
}

@keyframes WidthAnimationDextendFully {
  from {
    width: 100%;
    height: 10vh;
    overflow-y: none;
  }
  to {
    height: 0vh;
    width: 0%;
    display: none;
  }
}

@keyframes WidthAnimationExtendFully {
  from {
    width: 30%;
    height: 0vh;
  }
  to {
    width: 105%;
    height: 10vh;
  }
}

@keyframes WidthAnimationExtend {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes WidthAnimationDextend {
  from {
    width: 100px;
    /* display: inline; */
  }
  to {
    width: 0px;
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
