.speech-bubble-me {
  background: rgb(87, 142, 245);
  color: white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 auto 5px;
  max-width: 400px;
  padding: 10px 1px 0.3px 10px;
  text-align: start;
  height: auto;
  word-wrap: break-word;
  position: relative;
}

.input-chat {
  width: 80%;
  margin-top: 20px;
}

.message-loading {
  margin-left: 27%;
}

.speech-bubble-me-loading {
  background: rgb(3, 51, 141);
  color: white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 10% 5px;
  max-width: 600px;
  min-width: 475px;
  padding: 8px;
  word-wrap: break-word;
  position: relative;
}

.margin-top-speech {
  margin-top: 20px;
}

.last-msg-me {
  animation: WidthMsg 1 0.7s;
  /* animation-timing-function: cubic-bezier(0.98, -0.8, 0.5, 10); */
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.last-msg-them {
  animation: WidthMsg 1 1.4s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.last-msg-me::after {
  border-left: 20px solid transparent;
  border-top: 20px solid rgb(87, 142, 245);
  bottom: -9.6px;
  transform: rotate(-30deg);
  content: '';
  position: absolute;
  left: 96.5%;
}

@media (max-width: 880px) {
  .last-msg-me::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgb(87, 142, 245);
    bottom: -9.6px;
    transform: rotate(-30deg);
    content: '';
    position: absolute;
    left: 92.5%;
  }
}

@media (max-width: 375px) {
  .last-msg-me::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgb(87, 142, 245);
    bottom: -9.6px;
    transform: rotate(-30deg);
    content: '';
    position: absolute;
    left: 80.5%;
  }
}

.last-msg-them::after {
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(211, 208, 255);
  bottom: -7.6px;
  transform: rotate(30deg);
  content: '';
  position: absolute;
  right: 95.6%;
}

.padding-l-100 {
  padding-left: 50%;
}

.float-right {
  float: right;
}

.speech-bubble-me::after {
  /* border-left: 20px solid transparent;
  border-top: 20px solid rgb(87, 142, 245);
  bottom: -20px;
  content: '';
  position: absolute;
  right: 60px; */
}

.speech-bubble-them {
  background: rgb(211, 208, 255);
  color: black;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 5px;
  max-width: 400px;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
}

.speech-bubble-them::after {
  /* border-right: 20px solid transparent;
  border-top: 20px solid rgb(211, 208, 255);
  bottom: -20px;
  content: '';
  position: absolute;
  right: 350px; */
}

@keyframes WidthMsg {
  from {
    max-width: 200px;
    /* display: inline; */
  }
  to {
    max-width: 400px;
  }
}
