.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
  /* border: solid 1px black; */
}

.profileInfoWrapper {
  margin-bottom: 100px;
  
}

.showInfo {
  margin-top: 20px;
}

.borderProfile {
  border: solid 1px #7996b3; 
}


.wrapperProfile {
  padding: 100px;
}

.cards-list-profile {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card-profile {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 2.5px 2.5px 10px 3.5px rgba(0,0,0,0.25), -2.5px -2.5px 10px 3.5px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card-profile .card-image-profile {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card-profile .card-image-profile img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card-profile .card-title-profile {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card-profile:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.25), 
    -2.5px -2.5px 15px 7.5px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
